body {
    background-color:#A9A9A9;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
    
    
}
nav ul li, footer ul li {
    display: inline;

}


nav ul li{
        		    list-style-type: none;
                    float: left;
                    margin: 0;
                    padding:12px 14px;
                    overflow: hidden;
                    background-color: #333;
                    display: block;
                    color: white;
                    text-align: center;
                    text-decoration: none;
                    border-right: 2px solid #2F4F4F;

}
a {
    text-decoration: none;
    color: #9999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

li:last-child {
  border-right: none;
}

li:hover {
    background-color: #2F4F4F;
}
.active {
    background-color: #2F4F4F;
}
table {
    border-collapse: collapse;
    border: 2px solid black;
    text-align: left;
} 

.a td:hover {
    background-color:#DC143C;
}
.b td:hover {
    background-color:#32CD32;
}
  
th,td {
    border: 1px solid black;
    padding: 10px;
}
.a {
    table-layout: auto;
    width: 600px;

}
.a th {
    background-color: #8B0000;
    color: white;
}
.b {
    table-layout: auto;
 
    width: 600px;
}
.b th {
    background-color: #228B22;
    color: white;
}
